#config{
  float: right;
  width: 25px;
  height: 25px;
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-gear-512.png');
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 5s;
}

#config:hover{
  cursor: pointer;
  transform: rotate(9360deg);
}
